html {

    background-position:center center;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    background-image: url("../images/salad-ga99dcb9fc_1920.jpg");
    height: 100%;

}

body {
    padding-top: 70px;
    background: none;

width: 100%;
}

.hintergrund{

}
.text{
    color: #dfdfdf;

    }

